In [1]:
import pandas as pd
import numpy as np
import matplotlib
from ydata_profiling import ProfileReport

In [2]:
df = pd.read_csv("train.csv")

In [3]:
columns_thm = [column for column in df.columns if column.startswith("thm_")]
print(columns_thm)

['thm_1', 'thm_2', 'thm_3', 'thm_4', 'thm_5']

In [5]:
profile_thm = ProfileReport(df[columns_thm], title="DataQuality_Thermopile_sensors", explorative=True)
profile_thm.to_file("data_quality_thermopiles")

/opt/conda/lib/python3.12/site-packages/ydata_profiling/utils/dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/5 [00:00<?, ?it/s]
100%|██████████| 5/5 [00:03<00:00,  1.35it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

/opt/conda/lib/python3.12/site-packages/ydata_profiling/profile_report.py:386: UserWarning: Extension  not supported. For now we assume .html was intended. To remove this warning, please use .html or .json.
  warnings.warn(

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [7]:
df[columns_thm][df[columns_thm].isnull().any(axis=1)]

            thm_1      thm_2      thm_3      thm_4  thm_5
1503    23.961725  24.339029  24.206232  24.429810    NaN
1504    23.969862  24.388336  24.263811  24.386974    NaN
1505    23.943760  24.428949  24.127512  24.437759    NaN
1506    24.007992  24.486542  24.168850  24.424473    NaN
1507    23.960375  24.441458  24.251478  24.390303    NaN
...           ...        ...        ...        ...    ...
574008  29.755951  31.211893  29.419098  29.898146    NaN
574009  29.423683  30.142382  29.304581  29.870035    NaN
574010  29.477192  30.492275  28.746401  30.064381    NaN
574011  29.690022  30.813923  28.897079  30.281929    NaN
574012  29.620619  30.821753  28.750284  30.132832    NaN

[34948 rows x 5 columns]